<h1>How are we feeling Today?</h1>

<form class="form-entry" action="/entry" method="POST" class="form-container">
    <button class="pbtn" style="">
        <i class="fas fa-pencil-alt"></i>
    </button>
    <input name="title" type="text" placeholder="Title" class="title-input">
    <input name="text" type="text" placeholder="What mood are we in today?" class="text-input">
    <button class="tbtn">
        <i class="far fa-trash-alt"></i>
    </button>
</form>