

<div class="flex items-center justify-center min-h-screen">
    <div class="bg-gray-300 shadow-lg rounded-lg p-6 ">
      <h1 class="text-2xl font-bold mb-4 text-center">Percentage of emotion based on all users</h1>
      <div id="chartContainer" class="flex flex-col items-center justify-center h-full w-full"></div>
    </div>
  </div>


    <script src="/js/displayGraph.js"></script>
