<ul class="quotes">
    <li>"We are Dangerous when we are not cautious of our responsibility for how we behave think and feel." - Marshall
        B. Rosenberg</li>
    <li>"It is your responsibility to make sure that positive emotions constitute the dominating influence of your
        mind." - Napolean Hill</li>
    <li>"Emotions are a critical source of information for our learning." - Joseph Ledoux</li>
</ul>
