<h2 class="my-20 text-center text-3xl font-bold mb-4 animate-fade-in">Unleash Your Emotions!</h2>

<ul class="quotes">
    <img src="https://img.freepik.com/free-photo/pretty-smiling-woman-with-curly-hair-wears-comfortable-soft-jumper-keeps-hands-collar-concentrated-away-has-dreamy-expression-isolated-yellow-background-copy-space-your-promotion_273609-57345.jpg"
        alt="Curly haired women wearing yellow">
    <li>It's time to see yourself in a whole new light.</li>
    <li>"We are Dangerous when we are not cautious of our responsibility for how we behave think and feel." - Marshall
        B. Rosenberg</li>
    <img src="https://st5.depositphotos.com/1017228/64297/i/450/depositphotos_642970182-stock-photo-ginger-white-man-expressing-surprise.jpg"
        alt="Man wearing green with beard pointing up">
    <li>Explore your emotions from a whole new angle: Where Words Become Vibrant Hues.</li>
    <li>"It is your responsibility to make sure that positive emotions constitute the dominating influence of your
        mind." - Napolean Hill</li>



    <img src="https://st4.depositphotos.com/1049680/31440/i/450/depositphotos_314403472-stock-photo-young-asian-chinese-man-wearing.jpg"
        alt="sad man wearing blue">
    <li> Unlock the power of MoodSync and paint your emotions in hues you never thought possible.</li>
    <li>"Emotions are a critical source of information for our learning." - Joseph Ledoux</li>
</ul>