<ul class="quotes">
    <li>"We are Dangerous when we are not cautious of our responsibility for how we behave think and feel." - Marshall
        B. Rosenberg</li>
    <img src="https://st5.depositphotos.com/1017228/64297/i/450/depositphotos_642970182-stock-photo-ginger-white-man-expressing-surprise.jpg" alt="">
    <li>"It is your responsibility to make sure that positive emotions constitute the dominating influence of your
        mind." - Napolean Hill</li>
    <img src="https://img.freepik.com/free-photo/pretty-smiling-woman-with-curly-hair-wears-comfortable-soft-jumper-keeps-hands-collar-concentrated-away-has-dreamy-expression-isolated-yellow-background-copy-space-your-promotion_273609-57345.jpg" alt="Image description">
    <li>"Emotions are a critical source of information for our learning." - Joseph Ledoux</li>
    <img src="https://st4.depositphotos.com/1049680/31440/i/450/depositphotos_314403472-stock-photo-young-asian-chinese-man-wearing.jpg" alt="">
</ul>