<header class="background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2572.jpg?w=1800&t=st=1689794791~exp=1689795391~hmac=37d5fe62aec1910c0d8d59c23be7e2bfacaf0b26baa3320c3b611d2f0af8eb87)">
</header>


<form class="login" action="/login" method="POST">
    <input class="user" name="email" type="text" placeholder="username or email">
    <input class="pass" name="password" type="password" placeholder="enter password">
    <button class="my-3 rounded-full border-solid border-2 border-white py-4 px-8 text-white font-bold text-sm ">Log in</button>