
<button class="new-entry" onclick="redirectToEntry()">Create Entry</button>


<table class="entry-table">
    <tr>
        <th class="vertical-table">Day Dataset Table</th>
        <th class="entry-number">Entry 1</th>
        <th class="empty-th">
            <div class="entry-title"></div>
            <div class="entry-text"></div>
            <div class="mood-data"></div>
        </th>
</table>


<script>
  function redirectToEntry() {
    window.location.href = "/entry";
  }
</script>
