<button class="new-entry" onclick="redirectToEntry()">Create Entry</button>
<button class="view-graph" onclick="redirectToGraph()">View Graph</button>


{{!-- section that outputs the data from the tables --}}

  {{#each entry}}
  <!-- Clickable link with entry ID as a parameter -->
<div class="flex flex-col justify-center rounded-lg p-2 mx-2 my-8 shadow-lg hover:shadow-2xl sm:w-4/5 sm:mx-auto w-full transform bg-gradient-to-b from-gray-500 to-gray-900  hover:-translate-y-1 hover:scale-105">
  <a href="/mood/{{this.id}}" class="block">
    <section class="transform hover:shadow-xl {{this.color}} rounded-lg p-4">
      <p class="font-mono italic font-bold text-white text-center text-xl md:text-2xl lg:text-3xl">{{this.title}}</p>
      <p class="font-sans truncate font-semibold text-center text-black p-4 m-4 bg-gray-200 text-sm md:text-base lg:text-lg">{{this.entry}}</p>
    </section>
  </a>
</div>
 

  {{/each}}


<script>
  function redirectToEntry() {
    window.location.href = "/entry";
  }

  function redirectToGraph() {
    window.location.href = "/graph";
    }
</script>
