<form action="/register" method="POST">
  <h1>Register User</h1>

  <input name="email" type="email" placeholder="E-mail address">
  <input name="username" type="text" placeholder="Create username">
  <input name="password" type="password" placeholder="Please enter your password">
  <button>Submit</button>
</form>