body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
  background-size: 400% 400%;
  color: black;
}


body {
  background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2572.jpg?w=1800&t=st=1689794791~exp=1689795391~hmac=37d5fe62aec1910c0d8d59c23be7e2bfacaf0b26baa3320c3b611d2f0af8eb87);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}



h2:hover {
background: linear-gradient(45deg, purple 0%, darkblue 50%, white 120%);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
transition: background-position 2s;
}



.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.title-input {
  position: sticky;
  top: 0;
  z-index: 1;
}

.pbtn,
.tbtn {
  background-color: transparent;
  color: solid black;
  font-weight: bolder;
  border-radius: 12px;
  padding: 10px;
  border: none;
  cursor: pointer;
}


.login,
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
  width: 150px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

.text-input {
  border: 1px solid lightgray;
  padding: 10px 15px;
  width: 60vh;
  height: 10vh;

}

.title-input {
  border: 1px solid lightgray;
  padding: 10px 15px;
  width: 60vh;
  font-weight: bolder;
  text-transform: uppercase;


}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.vertical-table {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  width: 1px;
}



.entry-title {
  width: 120px;
}

.empty-th {
  width: calc(100% / 3);
}

.vertical-table {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.form-entry {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.user,
.pass,
.input {
  border: .5px solid gray;
  display: flex;
  align-items: first baseline;
  padding: 2px;
  margin-bottom: 5px;
  border-radius: 5px;

}

.btn,
.signupbtn {
  background-color: #1877F2;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  width: 135%;
}



ul {
  list-style: none;
  padding: 0;
  align-self: center;
  /* Center the ul horizontally */
  text-align: center;
  /* Center the li elements within the ul */
  display: flex;
  /* Add display flex to enable centering */
  flex-direction: column;
  /* Stack li elements vertically */
}

li {
  opacity: 0;
  animation: fadeInOut 18s ease-in-out infinite;
  font-size: xx-large;
}

li:nth-child(2) {
  animation-delay: 0s;

}
li:nth-child(3) {
  animation-delay: 3s;

}
li:nth-child(5) {
  animation-delay: 6s;

}
li:nth-child(6) {
  animation-delay: 9s;

}

li:nth-child(7) {
  animation-delay: 12s;
}

li:nth-child(8) {
  animation-delay: 15s;
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
    /* Fade in from 0% to 100% opacity over the first 5% of the animation duration */
  }

  25% {
    opacity: 1;
    /* Stay at 100% opacity for the next 20% of the animation duration */
  }

  30% {
    opacity: 0;
    /* Fade out from 100% to 0% opacity over the next 5% of the animation duration */
  }

  100% {
    opacity: 0;
  }
}